.header {
  color: #ffffff;
  text-align: center;
  background-color: $blue;
  padding-top: 35px;

  &__image {
    width: 175px;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

    @include smallScreen {
      width: 200px;
    }
  }

  &__title {
    margin-top: -10px;
  }

  &__description {
    margin-top: -8px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

    @include smallScreen {
      font-size: 1.75rem;
    }
  }

}
